<!--<form #form="ngForm" (ngSubmit)="addToPokemons(form)">
  Pokemon ID:
  <input type="text" [(ngModel)]="pokemon.name" name="name" />-->
  <!--Radio button must be in a form!-->
  <!--<label>
    <input type="radio" name="isCool" #pokemonName="ngModel" [value]="true" [ngModel]="pokemon.isCool" /> Pokemon is cool?
  </label>
  <label>
    <input type="radio" name="isCool" [value]="false" [ngModel]="pokemon.isCool" (ngModelChange)="modelChange($event)" /> Pokemon not cool?
  </label>
  <label>
    <select name="pokemonType" [ngModel]="pokemon.name">
      @for (type of pokemonTypes; track type) {
        <option [value]="type.key"
          [selected]="type.value === pokemon.type">
          {{ type.value }}
        </option>
      }
    </select>
  </label>
  <button type="submit" [disabled]="!form.valid">Save!</button>
  <button type="button" (click)="back()">Go Back!</button>
</form>

<div>-->
  <!--Pipe-->
  <!--Model: {{ pokemon | json }}
  Form {{ form.value | json }}-->
  <!--Form validation:
  1. Using #[object issuer]="ngModel"
  2. creating the div below (or something else):-->
  <!--Error: @if (!pokemonName.pristine) {
  <div>Pristine!</div>
}-->
<!--there are a few options:
1. valid -> invalid
2. pristine -> dirty
3. touched -> untouched-->
<!--</div>-->

<!--<form #form="ngForm" (ngSubmit)="addToPokemons(form)">
<label>
  ID:
  <input type="number" min="0" max="150" name="id" />
</label>
<label>Name:
  <input type="text" name="name" />
</label>
<label> Is Cool?
  <input type="radio" value="true" name="isCool" />
</label>
<label>
  Type:
  <input type="text" name="type" />
</label>
<button type="submit">Save!</button>
</form>-->
