<div style="width: 100%; overflow: hidden;">
  <!--  // -- left side navigation bar-->
  <div style="display: inline-block; width: 90%; float: left;">
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
          <ul>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Mission</a></li>
            <li><a href="#">Vision</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Services</a>
          <ul>
            <li><a href="#">Consulting</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </li>
        <li>
          <a (click)="showModal('registerOrLogin')">Connect</a>
        </li>
      </ul>
      <div class="nav-center">
        <div class="search-bar">
          <input type="text" #product placeholder="Search..." />
          <button (click)="searchProduct(product.value)">Search</button>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- //-- right side login and register button-->
<!--<div style="margin-left: 90%; width: 10%; display: inline-block;">
    <button class="button btn btn-primary" (click)="showModal('registerOrLogin')">Connect</button>
  </div>
</div>-->
<!-- Register or login modal -->
<div id="registerOrLogin" class="modal" (click)="hideModal('registerOrLogin')">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="hideModal('registerOrLogin')">&times;</span>
    <div class="container" style="align-items:center">
      <h2 class="heading" style="text-align:center">Login OR Register</h2>
      <div class="button-row">
        <button class="button" (click)="redirectByPath('login', 'registerOrLogin')">Login</button>
        <button class="button" (click)="redirectByPath('register', 'registerOrLogin')">Register</button>
      </div>
    </div>
  </div>
</div>
