<div>
  <upper-nav-bar></upper-nav-bar>
</div>

<div class="page-content">
  <router-outlet></router-outlet>
</div>
<!--<div highlighttext>This is highlight text!</div>
<h2 *customif="false">This is false!</h2>
<h2 *customif="true">This is true!</h2>

<div class="page-content">
  <app-product></app-product>
   router-outlet - makes the magic of routing available
  <div>
    @for (item of nav; track item) {
      <a
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.exact }">  Light with color from the css the current chosen option
        {{ item.name }}
      </a>
    }
  </div>

  <app-test></app-test>
  <app-pokemon-list></app-pokemon-list>
  <app-pokemon-template-form></app-pokemon-template-form>
</div>-->
