<form *ngIf="!hasStore" #form="ngForm" (ngSubmit)="openStore()">
  Store Name:
  <input type="text" [(ngModel)]="store.storeName" name="name" />
  <button type="submit">save</button>
</form>

<div *ngIf="hasStore">
  <div>
    {{ store.storeName }}
  </div>
  <div class="card">
    <button type="submit" (click)="navigateToNewProduct()">Add Product</button>
  </div>
  <div class="leftProductDiv" *ngFor="let product of store.products; let i = index">
    <input type="text" [(ngModel)]="product.name" name="name" />
    <input type="text" [(ngModel)]="product.description" name="description" />
    <input type="number" [(ngModel)]="product.amountInInvenotry" name="amountInInvenotry" min="0" />
    <input type="number" [(ngModel)]="product.price" name="price" min="0" />

  </div>
</div>
