<form *ngIf="!hasStore" #form="ngForm" (ngSubmit)="openStore()">
  Store Name:
  <input type="text" [(ngModel)]="store.storeName" name="name" />
  <button type="submit">save</button>
</form>

<div *ngIf="hasStore">
  <div>
    {{ store.storeName }}
  </div>
  <div class="card">
    <button type="submit" (click)="navigateToNewProduct()">Add Product</button>
  </div>
  <div class="leftProductDiv" *ngFor="let product of store.products; let i = index">
    <store-product [product]="product"></store-product>
  </div>
</div>
