<configuration>
	<appSettings>
		<add key="client_location" value="https://localhost:57470" />
		<add key="Allow_frontend" value="AllowFrontend" />
		<add key="DB_name" value="TaliExpress" />
		<add key="LogPath" value="C:\temp\"/>
		<add key="LogExtention" value="MongoDB.log"/>
		<add key="ConnectionString" value="mongodb://127.0.0.1:27017"/>
	</appSettings>
</configuration>