<div *ngIf="cartDisplayProducts; else loading">
  <div class="page-content">
    <div *ngFor="let cartDisplayProduct of cartDisplayProducts; let i = index">
      <div>
        <input type="checkbox" (change)="addOrRemoveFromPurchase(cartDisplayProduct.id)" />
      </div>
      <div class="productDataDiv">
        <div class="leftProductDiv">
          <h2>Name: {{ cartDisplayProduct.name }}</h2>
          <h6>Description: {{ cartDisplayProduct.description }}</h6>
          <p>Price: {{ cartDisplayProduct.price }}</p>
          <p>Amount in cart: {{ cartDisplayProduct.productsToBuy }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="totalPrice !== 0; else disabledPayment">
      <button type="submit" (click)="payForCheckedProducts()">
        Pay! ({{ totalPrice }})
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<ng-template #disabledPayment>
  <button type="submit" disabled>
    Pay! (0)
  </button>
</ng-template>
