<form #form="ngForm">
  Pokemon ID:
  <input type="text" [(ngModel)]="pokemon.name" name="name" />
<!-- Radio button must be in a form! -->
  <label>
    <input type="radio" name="isCool" [value]="true" [ngModel]="pokemon.isCool" /> Pokemon is cool?
  </label>
  <label>
    <input type="radio" name="isCool" [value]="false" [ngModel]="pokemon.isCool" (ngModelChange)="modelChange($event)" /> Pokemon not cool?
  </label>
  <label>
    <input type="checkbox" name="acceptTerms" value="true" [(ngModel)]="pokemon.acceptTerms" /> Accept terms?
    <!--<input type="checkbox" name="c1" value="1" /> c1?
  <input type="checkbox" name="c2" value="2" /> c2?
  <input type="checkbox" name="c3" value="3" /> c3?-->
  </label>
</form>

<div>
  Model: {{ pokemon | json }} <!-- Pipe -->
  Form {{ form.value | json }}
</div>
