<form #form="ngForm">
  Pokemon ID:
  <input type="text" [(ngModel)]="pokemon.name" name="name" />
<!-- Radio button must be in a form! -->
  <label>
    <input type="radio" name="isCool" [value]="true" [ngModel]="pokemon.isCool" /> Pokemon is cool?
  </label>
  <label>
    <input type="radio" name="isCool" [value]="false" [ngModel]="pokemon.isCool" (ngModelChange)="modelChange($event)" /> Pokemon not cool?
  </label>
</form>

<div>
  Model: {{ pokemon | json }} <!-- Pipe -->
  Form {{ form.value | json }}
</div>
