:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.page-content {
  padding: 5%;
  padding-top: 7%;
}

.active{
    background: red;
}
