<div class="container">
  <h2 class="heading">Login</h2>
  <form #userForm="ngForm" (ngSubmit)="login(user)">
    <div class="form-group">
      <div>
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email"
          [(ngModel)]="user.email" required>
          @if (userForm.controls['email']?.touched && userForm.controls['email']?.invalid) {
            <div
              class="text-danger">
              Email is required.
            </div>
          }
        </div>

        <div>
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password"
            [(ngModel)]="user.password" required>
            @if (userForm.controls['password']?.touched && userForm.controls['password']?.invalid) {
              <div
                class="text-danger">
                Password is required.
              </div>
            }
          </div>

          <div>
            <input type="submit" value="submit" />
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
          </div>
        </div>
      </form>
    </div>

