<div class="container">
  <h2 class="heading">New Product</h2>
  <form #productForm="ngForm" (ngSubmit)="addProduct()">
    <div class="form-group">
      <div>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name"
               [(ngModel)]="productRequest.name" required>
        @if (productForm.controls['name']?.touched && productForm.controls['name']?.invalid) {
        <div class="text-danger">
          Name is required.
        </div>
        }
      </div>

      <div>
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price"
               [(ngModel)]="productRequest.price" required>
        @if (productForm.controls['price']?.touched && productForm.controls['price']?.invalid) {
        <div class="text-danger">
          Price is required.
        </div>
        }
      </div>

      <div>
        <label for="amountInInvenotry">Amount</label>
        <input type="number" min="1" class="form-control" id="amountInInvenotry" name="amountInInvenotry"
               [(ngModel)]="productRequest.amountInInvenotry" required>
        @if (productForm.controls['amountInInvenotry']?.touched && productForm.controls['amountInInvenotry']?.invalid) {
        <div class="text-danger">
          Amount is required.
        </div>
        }
      </div>

      <div>
        <input type="submit" value="submit" />
      </div>
    </div>
  </form>
</div>

