<div *ngIf="products; else loading">
    <div class="page-content">
      <h3>Results for: {{ searchParam }}</h3>
      <div *ngFor="let product of products; let i = index">
        <div class="productDataDiv">
          <div class="leftProductDiv">
            <h2>{{ product.name }}</h2>
            <h6>{{ product.description }}</h6>
            <p>{{ product.price }}</p>
            <!--<input type="number" min="1" max="{{ product.amountInInventory }}" placeholder="Quantity" />-->
            <button (click)="addToCart(product.id, 1)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
