<div class="container">
  <h2 class="heading">Template Driven Form</h2>
  <form #userForm="ngForm" (ngSubmit)="registerUser(tempUser)">

    <div class="form-group">
      <div>
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName"
          [(ngModel)]="tempUser.firstName" required>
          @if (userForm.controls['firstName']?.touched && userForm.controls['firstName']?.invalid) {
            <div
              class="text-danger">
              First Name is required.
            </div>
          }
        </div>

        <div>
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName"
            [(ngModel)]="tempUser.lastName" required>
            @if (userForm.controls['lastName']?.touched && userForm.controls['lastName']?.invalid) {
              <div
                class="text-danger">
                Last Name is required.
              </div>
            }
          </div>

          <div>
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
              [(ngModel)]="tempUser.phoneNumber" required>
              @if (userForm.controls['phoneNumber']?.touched && userForm.controls['phoneNumber']?.invalid) {
                <div
                  class="text-danger">
                  Phone Number is required.
                </div>
              }

              <div>
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email"
                  [(ngModel)]="tempUser.email" required>
                  @if (userForm.controls['email']?.touched && userForm.controls['email']?.invalid) {
                    <div
                      class="text-danger">
                      Email is required.
                    </div>
                  }
                </div>

                <div>
                  <label for="password">Password</label>
                  <input type="text" class="form-control" id="password" name="password"
                    [(ngModel)]="tempUser.password" required>
                    @if (userForm.controls['password']?.touched && userForm.controls['password']?.invalid) {
                      <div
                        class="text-danger">
                        Password is required.
                      </div>
                    }
                  </div>

                  <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="text" class="form-control" id="tempPassword" name="tempPassword"
                      [(ngModel)]="tempUser.tempPassword" required>
                      @if (userForm.controls['tempPassword']?.touched && userForm.controls['tempPassword']?.invalid) {
                        <div
                          class="text-danger">
                          Confirm Password is required.
                        </div>
                      }
                    </div>
                  </div>
                </div>

                <div>
                  <input type="submit" value="submit" />
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
